*{
    margin: auto;
}

html{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.884);

    body{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;

        font-family: 'Courier New', Courier, monospace;
        color: rgb(255, 255, 255);

        header{
            position: fixed;
            display: grid;
            min-height: 5vh;
            width: 100%;
            margin-top: 0px;
            background-color: burlywood;
            font-size: calc(0.5rem + 0.5vw);
            z-index: 2;

            a{
                margin-top: auto;
                z-index: inherit;
            }
        }

        main{
            .regbox{
                position: relative;
                max-width: 20vw;
                min-height: 13vh; 
                margin: auto;
                margin-top: 5vw;
                font-size: calc(0.7rem + 0.5vw);
                @media(max-width: 700px){
                    max-width: 100vw;
                    min-height: 13vh;
                }
                
                border: 2px solid rgb(173, 173, 173);
    
                form{
                    @media(max-width: 700px){
                        max-width: 100vw;
                        min-height: 13vh;
                    }
                    .name{
                        max-width: 90%;
                        border-radius: 5px;
                        border: 1px solid black;
                        margin-bottom: 0.5em;
                        background-color: rgba(255, 255, 255, 0.050);
                        color: white;
                        font-size: calc(0.3rem + 1vw);
                        @media(max-width: 700px){
                            width: 100vw;
                            min-height: 5vh;
                            font-size: calc(0.7rem + 1vw);
    
                        }
                    }
        
                    .sub{
                        margin-bottom: 0.3em;
                        border: 1px solid black;
                        border-radius: 5px;
                        background-color: rgba(255, 255, 255, 0.050);
                        color: white;
                        font-size: calc(0.5rem + 0.5vw);
                        @media(max-width: 700px){
                            width: 70vw;
                            min-height: 5vh;
                            font-size: calc(1rem + 0.5vw);
                        }
                    }
                }
            }
        }

        footer{
            position: relative;
            width: 100vw;
            height: 7vh;
            margin-bottom: 0px;
            background-color: rgb(35, 34, 54);
            font-size: calc(0.5rem + 0.3vw);
                p{
                    margin: auto;
                    margin-top: 1vh;
                }
        }
    }
}


    

