.output{
    position: relative;
    max-width: 54vw;
    min-height: 15vh;
    margin: auto;            
    margin-top: 2vh;
    font-size: calc(0.7rem + 0.5vw);
    background-color: rgb(23, 23, 23);
    border: 2px solid rgb(173, 173, 173);
    @media(max-width: 700px){
        min-width: 90vw;
        min-height: 17vh;
    }

    p{
        padding: 5px;
    }



    .out_text{
        width: 52vw;
        height: 15vh;
        color: white;
        margin-top: auto;
        background-color: rgb(32, 32, 32);
        font-size: calc(0.7rem + 0.5vw);
        @media (max-width: 700px) {
            width: 90%;
        }
    }

    .copy_button{
        width: 15vw;
        margin-bottom: 0.3em;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.050);
        color: white;
        font-size: calc(0.5rem + 0.5vw);
        @media(max-width: 700px){
            width: 70vw;
            min-height: 5vh;
            font-size: calc(1rem + 0.5vw);

        }
    }
}