html{
    margin: 0 auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.884);


    body{
        position: absolute;
        width: 100%;
        height:100%;
        margin: 0 auto;
        text-align: center;

        font-family: 'Courier New', Courier, monospace;
        font-size: ;
        color: rgb(255, 255, 255);

        header{
            position: fixed;
            height: 5%;
            width: 100%;
            margin-top: 0px;
            background-color: burlywood;
        }

        .sigbox{
            position: relative;
            width: 54vw;
            min-height: 20vh;            
            top: 15vh;
            left: calc(50% - 27vw);
            
            border: 2px solid rgb(173, 173, 173);

            form{
                position: inherit;
                width: 50vw;
                min-height: 20vh;
                margin: auto;

            .to_sign{
                position: inherit;
                width: 45vw;
                height: 10vh;
                margin-top: 1vh;
                background-color: rgba(255, 255, 255, 0.050);
                color: white;
            }

            .encryption_resources{
                position: inherit;
                width: 45vw;
                height: 5vh;
                margin-top: 1vh;
                background-color: rgba(255, 255, 255, 0.050);
                color: white;
            }

            .sub{
                position: inherit;
                width: 10vw;
                height: 3vh;
                margin-top: 0.5vh;
                margin-bottom: 1vh;
                border: 1px solid black;
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.308);
                color: white;
            }
            }

        }

        footer{
            position: absolute;
            width: 100vw;
            height: 5vh;
            bottom: 0;

            .footerbox{
                position: inherit;
                width: 100vw;
                height: 100vh;
                text-align: center;
            }
        }
    }
}