html{
    margin: 0 auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.884);


    body{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;

        font-family: 'Courier New', Courier, monospace;
        color: rgb(255, 255, 255);

        header{
            position: fixed;
            height: 3em;
            width: 100%;
            margin-top: 0px;
            background-color: burlywood;
        }
        
        .regbox{

            width: 20em;
            height: 35%;
            margin: auto;
            margin-top: 20%;
            
            border: 2px solid rgb(173, 173, 173);

            form{
                .name{
                    max-width: 90%;
                    border-radius: 5px;
                    border: 1px solid black;
                    margin-bottom: 0.5em;
                    background-color: rgba(255, 255, 255, 0.050);
                    color: white;
                }
    
                .sub{
                    margin-bottom: 0.3em;
                    border: 1px solid black;
                    border-radius: 5px;
                    background-color: rgba(255, 255, 255, 0.050);
                    color: white;
                }
            }
        }


        footer{
            position: absolute;
            width: 100%;
            height: 5%;
            bottom: 0;

            .footerbox{
                position: inherit;
                width: 100%;
                height: 100%;
                text-align: center;
            }

        }

    }
}