* {
  margin: auto;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  background: rgb(22, 0, 74);
  background: linear-gradient(180deg, rgb(31, 0, 103) 20%, rgb(97, 35, 35) 100%);
}
html body header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: fixed;
  min-height: 5vh;
  width: 100%;
  margin-top: 0px;
  background-color: rgb(255, 255, 255);
  font-size: calc(0.7rem + 0.5vw);
  z-index: 2;
}
html body header .menubtn {
  background: rgb(255, 255, 255);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  margin: 3px;
}
@media (max-width: 700px) {
  html body header .menubtn {
    display: block;
  }
}
@media (min-width: 700px) {
  html body header .menubtn {
    display: none;
  }
}
html body header .menubtn .stick {
  width: 30px;
  height: 5px;
  background: black;
  margin: 3px;
}
html body header .nav {
  width: 100%;
  max-height: 5vh;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  html body header .nav {
    display: none;
    max-width: 100vw;
    min-height: 100vh;
    font-size: calc(1vw + 0.6rem);
  }
}
html body header .nav .link {
  display: flex;
  min-height: 5vh;
  min-width: 7vw;
  padding: 3px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: rgb(255, 255, 255);
  z-index: 3;
  margin: 3vw;
}
@media screen and (max-width: 700px) {
  html body header .nav .link {
    border-left: unset;
    border-right: unset;
  }
  html body header .nav .link a {
    color: rgb(255, 255, 255);
  }
}
html body header .nav .link:hover {
  animation-name: colorfade;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
@keyframes colorfade {
  from {
    background-color: rgb(255, 255, 255);
  }
  to {
    background-color: rgb(31, 0, 103);
  }
}
html body header .nav .link:hover a {
  color: white;
}
html body header .nav .link a {
  margin-top: auto;
  text-decoration: none;
  color: black;
  z-index: inherit;
}
html body main .verifybox {
  position: relative;
  min-width: 54vw;
  min-height: 20vh;
  margin: auto;
  margin-top: auto;
  font-size: calc(0.7rem + 0.5vw);
  background-color: rgb(23, 23, 23);
  border: 2px solid rgb(173, 173, 173);
}
@media (max-width: 700px) {
  html body main .verifybox {
    width: 95vw;
    min-height: 17vh;
  }
}
html body main .verifybox form .signed_text {
  position: inherit;
  width: 70%;
  height: 10vh;
  margin-top: 1vh;
  background-color: rgb(32, 32, 32);
  color: white;
  font-size: calc(0.5rem + 0.5vw);
}
@media (max-width: 700px) {
  html body main .verifybox form .signed_text {
    width: 90%;
    min-height: 5vh;
    font-size: calc(0.7rem + 0.5vw);
  }
}
html body main .verifybox form .sub {
  margin-bottom: 0.3em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(61, 61, 61);
  color: white;
  font-size: calc(0.5rem + 0.5vw);
}
@media (max-width: 700px) {
  html body main .verifybox form .sub {
    width: 90%;
    min-height: 5vh;
    font-size: calc(1rem + 0.5vw);
  }
}
html body footer {
  position: relative;
  width: 100vw;
  height: 7vh;
  margin-bottom: 0px;
  background-color: rgb(35, 34, 54);
  font-size: calc(0.5rem + 0.3vw);
}
html body footer p {
  margin: auto;
  margin-top: 1vh;
}/*# sourceMappingURL=style.css.map */